<form action="/add-post" method="POST">
    <label for="titulo">Titulo</label>
    <input type="text" placeholder="Titulo" name="titulo">
    
    <label for="texto">Contenido</label>
    <textarea name="texto" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="add" class="btn">
</form>


