<h3>Login</h3>
<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Ingresar" class="btn">
</form>



<!-- REGISTRO  -->
<!-- <h3>Registro</h3>
<form action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit" value="Registrar" class="btn">
</form> 